body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    background-color: whitesmoke;
}
.tit {
    padding-left: 600px;
}
#carGallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}
img {
    width: auto; 
    height: 200px;
    border-radius: 20px;
}
.img {
    width: 300px;
    height: 350px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.img {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
p {
    padding-left: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

























